svg {
  display: block;
  margin: 0 auto;
  overflow: hidden;
}

.node {
  cursor: pointer;
  rect {
    stroke: #333;
    stroke-width: 1.5px;
    fill: #fff;
    -webkit-transition: fill 0.3s, stroke 0.5s, -webkit-transform 1s;
    transition:  fill 0.3s, stroke 0.5s, -webkit-transform 1s;
  }

  &.hovered {
    rect {
      stroke: #CC0000;
      fill: #66C9F9;
    }
    g.label {

    }
  }
}

.edgeLabel rect {
  fill: #F8F9FA;
}

.edgePath {
  stroke: #333;
  stroke-width: 1.5px;
  fill: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
