$hoverGrey: #E0E0E0;

#listing-tab {

  md-list {

    md-list-item {
      /*
      -webkit-transition: background-color 0.5s;
      transition:  background-color 0.5s;
    }
    md-list-item:hover {
      background-color: $hoverGrey;
      cursor: pointer;
    }
    */
    }
  }
}
